<!DOCTYPE html>
<html>
  <head>
    <title>RailsCountries</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<a href="/countries">Click here for the Index!</a>
  	<a href="/countries/new">Click here to create a new country!</a>
    <%= yield %>
  </body>
</html>
